* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    scroll-behavior: smooth;
}

body {
    background: rgb(12, 11, 11);
    color: white;
}
.logo {
    line-height: 4rem;
    padding: 0 20px;
    font-size: 2rem;
    cursor: pointer;
}
.logo span {
    color: crimson;
    margin-left: 2px;
}
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    position: fixed;
    left: 0;right: 0;
    top: 0;
    background: rgb(12,11,11);
    z-index: 10;
}
ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    margin-right: 10px;
}
ul a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    line-height: 4rem;
    border: none;
    transition: all .2s;
}
ul a:hover {
    color: crimson;
    border-bottom: 3px solid crimson;
}

#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.home_img {
    width: 400px;
    height: 500px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    overflow: hidden;
}
.home_img img {
    width:500px;
    position: relative; 
    bottom: 100px;
    right: 50px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.home_text div {
    font-size: 2.5rem;
}

.home_text .large_crimson {
    color: crimson;
    font-size: 3.5rem;
    font-variant: small-caps;
}

#about {
    color: white;
    min-height: 100vh;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}
.about_img img {
    width: 800px;
}

.about-me {
    width: 40%;
    padding: 50px 30px;
    border-radius: 8px;
}
.about-me div{
    font-size: 1.3rem;
    text-align: justify;
    border-left: 5px solid crimson;
    border-radius: 2px;
    background: rgba(51,49,49,.3);
    border-radius: 8px;
    padding: 20px 30px;
}

#skills {
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills>div {
    background: rgba(51,49,49,.3);
    width: 100%; height: 400px;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
    opacity: .8;
    transition: all .5s;
    position: relative;
}
#skills div>i {
    font-size: 4rem;
    background: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
}

#skills .label {
    font-size: 2rem;
    margin-top: 1rem;
}
#skills>div:hover {
    transform: scale(1.05);
    opacity: 1;
}
.percentage {
    position: absolute;
    bottom: 20px;
    width: 90%;
}
.percentage::after {
    content:"";
    width: 100%;
    background: crimson;
    height: 3px;
    display: block;
    margin-top: 10px;
}
.html::after {
    width: 90%;
}
.css::after {
    width: 75%;
}
.js::after {
    width: 70%;
}
.react::after {
    width: 60%;
}
.bootstrap::after {
    width: 50%;
}
.sql::after {
    width: 55%;
}

.description {
    padding: 0 20px;
    text-align: justify;
    margin: 20px 0;
}

#contact {
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.contact_form {
    width: 70%;
    height: 600px;
    background: rgba(51,49,49,.3);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    min-width: 400px;
}
.contact_form input,.contact_form textarea {
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.3rem;  
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    color: white;
    border-radius: 8px;
    background: rgba(0,0,0,.2);
    background-image: linear-gradient(to right,crimson,hotpink,blueviolet,mediumslateblue);
}
.contact_form textarea {
    resize: none;
}
::placeholder {
    color: white;
}
.form_title {
    text-align: center;
    color: white;
    font-size: 2rem;
}
.contact_form input[type="submit"] {
    width: auto;
    margin: auto;
    background: crimson;
    box-shadow: none;
    cursor: pointer;
    padding: .5rem 2rem;
}
.contact_form input[type="submit"]:hover {
    background: rgb(174, 19, 50);
}

.contact_info {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.contact_info i {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    transition: color .5s;
}
.contact_info i:hover {
    color: crimson;
}